<?xml version="1.0" encoding="utf-8" ?>
<data>
  
  <mapDirectory>./maps/</mapDirectory>
  <mapName>Example.brk</mapName>

  <hostKey></hostKey>

  <local>true</local>
  <port>42480</port>
  
  <!--If enableJS is set to false the V8 engine doesnt initilize which saves on memory usage-->
  <enableJS>false</enableJS>
  <scriptsDirectory>./scripts/</scriptsDirectory>
  
  
</data>
